<nz-layout>
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="4" nzOffset="17">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>

      <div nz-col nzSpan="3">
        <div style=" text-align: right ;">
          <nz-badge [nzCount]="5">
            <button nzTrigger="click" nzTitle="prompt text" nzPlacement="bottom" nz-button nz-popover
                    [nzTitle]="titleTemplate" [nzContent]="contentTemplate" class="btn" nzType="primary" nzShape="circle">
              <i
                class="anticon anticon-bell"></i>
            </button>
            <ng-template #titleTemplate><i class="anticon anticon-info-circle"></i> Title</ng-template>
            <ng-template #contentTemplate>
              <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                  <nz-list-item class="tooltip-layout">
                    <nz-list-item-meta
                      [nzTitle]="nzTitle"
                      nzDescription="Alert information： you should pay attention to ....">
                      <ng-template #nzTitle>
                        {{item.title}}
                      </ng-template>
                    </nz-list-item-meta>
                  </nz-list-item>
                </ng-template>
              </nz-list>
            </ng-template>
          </nz-badge>
    
          <button nz-button style="margin-left: 10px" nzType="primary" nzShape="circle"><i
            class="anticon anticon-setting"></i></button>
          <button (click)="connect()" nz-button style="margin-left: 10px; margin-right: 10px;" nzType="primary" nzShape="circle"><i
            class="anticon anticon-poweroff"></i></button>
        </div>
      </div>
    </div>
  </nz-header>

  <nz-layout >
    <nz-sider [nzCollapsed]="isCollapsed">
      <div>
        <left-menu></left-menu>
      </div>
    </nz-sider> 
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <!--
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
        -->
      </nz-breadcrumb>
      <nz-content> 
        <router-outlet>
        
        </router-outlet></nz-content>
    </nz-layout>
   
  </nz-layout>
  <nz-footer>
    Copyright by linjunhao
  </nz-footer>
</nz-layout>

